<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3DS</string>
				<string>3ds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>3D Studio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>OBJ</string>
				<string>obj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>OBJ 3D File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>STL</string>
				<string>stl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>STL File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>OFF</string>
				<string>off</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>OFF File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3DXML</string>
				<string>3dxml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dassault Systemes 3DXML File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DAE</string>
				<string>dae</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>Collada File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>album</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Logo.icns</string>
			<key>CFBundleTypeName</key>
			<string>GLC_Player album File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>glc_player</string>
	<key>CFBundleGetInfoString</key>
	<string>http://www.glc-player.net</string>
	<key>CFBundleIconFile</key>
	<string>Logo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ribon.glcplayer</string>
	<key>CFBundleName</key>
	<string>GLC_Player</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>txtt</string>
	<key>CFBundleVersion</key>
	<string>1000</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6.0</string>
	</dict>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011 Laurent Ribon</string>
</dict>
</plist>
